{% extends 'base.html.twig' %}
{% block title %}
  _ Les Solides
{% endblock %}

{% block main %}

<style>

.selectedd{
border:2px inset silver;
        }

#valider {
margin-top: 50px;
margin-left: 100px;
}

.small {
    width: 92px !important;
}

.btn-lg{
  width: 32px !important;
}

.inline-block{
width: 300px;
height: 150px;
}

img:hover {
  opacity: 0.5;
}

</style>

{% endblock %}

{% block body %}
  <!-- Tips Triks Start -->
  <div class="tips-triks-area tips-padding">
    <div class="container">
      <!-- Section-tittle -->
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-8 pr-0">
          <div class="section-tittle text-center">
            <h5>
              Reconnaitre les solides
            </h5>
          </div>
        </div>
      </div>
      <br><br>
    <div class="d-inline-flex mb-3">
    <p class="sample-text ">Quelle figure représente une sphère ?<p>
    </div>
<br>
      <div  class="banner">
    <img  class="img" src ="{{ asset('assets/images/cube.png') }}">
    <img  class="img" src ="{{ asset('assets/images/sphere.png') }}">
     </div>
    </div>
  </div>
  <br>
<div class="block">
       <div class="span2">
	<p ><button id="valider" class="genric-btn primary small ">valider</button></p>
  </div>
  </div>
  <div id="response">
   <div id="html"></div>         
       <div class="block text-center"><button id="ok"  hidden="true" class="genric-btn primary ">ok</button></div>
  </div>
 
  <!-- Tips Triks End -->

  <script>
    jQuery( document ).ready(function( $ ) {
      //identification de l'image sélectionné et trouver l'index de l'image de la bonne réponse
        $("#valider").click(function () {
          if(!$('.img').hasClass('selectedd')){
            alert("vide! choisir une option");
          }else{
            if($('.selectedd').index() == 1){ 
           $("#html").html('<div class="section-tittle text-center success"><h2 style="color:green">Bravo!</h2>	');
         document.getElementById('response').scrollIntoView();
            }else{
              $("#html").html('<div class="section-tittle text-center danger"><h2 style="color:red">Echec! la bonne réponse est la deuxième image</h2>	');
            document.getElementById('response').scrollIntoView();
            }       
             $(this).prop("disabled",true);
             $("#ok").attr("hidden",false);
          }
        });
    
 $("#ok").click(function () {
          $("#response").text("");
        });
    });

$(function(){
  var ff;    
    //pour  selectionner les images et implémenter le compteur
   $('.img').on('click', function(evt) {
        ff = $(this);        
        $('.img').removeClass('selectedd');
        ff.addClass('selectedd');
        evt.stopPropagation();
        //alert(""+ff.index());
        
    });   
    
});
 
</script>


{% endblock %}