{% extends 'base.html.twig' %}
{% block title %}
  _ Comparer Longueurs
{% endblock %}

{% block main %}

<style>
.selectedd{
border:2px inset silver;
        }
.small {
    width: 92px !important;
}
.btn-lg{
  width: 32px !important;
}
.inline-block{
width: 300px;
height: 150px;
}
img:hover {
  opacity: 0.5;
}
</style>

{% endblock %}

{% block body %}
  <!-- Tips Triks Start -->
  <div class="tips-triks-area tips-padding">
    <div class="container">
      <!-- Section-tittle -->
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-8 pr-0">
          <div class="section-tittle text-center">
            <h5>
              Comparer Longueurs
            </h5>
          </div>
        </div>
      </div>
      <br><br>
    <div class="d-inline-flex mb-3">
    <p class="sample-text ">Quelle est le voiture <b>la plus longue</b>&nbsp;?<p>
    </div>
<br>
      <div  class="banner">
       <div class="inline-block" style="display: inline-block;">
    <img  class="img" src ="{{ asset('assets/images/car.png') }}">
    <img  class="img" src ="{{ asset('assets/images/longcar.png') }}">
     </div>
    </div>
<br>
<div class="d-inline-flex mb-3">
       <div class="span2">
	<p ><button id="valider" class="genric-btn primary small ">valider</button></p>
  </div>
    </div>
  </div>
  <div id="response">
   <div id="html"></div>         
       <div class="block text-center"><button id="ok"  hidden="true" class="genric-btn primary ">ok</button></div>
  </div>
 
  <!-- Tips Triks End -->

  <script>
    jQuery( document ).ready(function( $ ) {
      var score = Number(window.localStorage.getItem('score'));
      //identification de l'image sélectionné et trouver l'index de l'image de la bonne réponse
        $("#valider").click(function () {
          if(!$('.img').hasClass('selectedd')){
            alert("vide! choisir une option");
          }else{
            if($('.selectedd').index() == 1){ 
              score+=10;
              window.localStorage.setItem('score', score);
           $("#html").html('<div class="section-tittle text-center success"><h2 style="color:green">Bravo!</h2>	');
         document.getElementById('response').scrollIntoView();
            }else{
              $("#html").html('<div class="section-tittle text-center danger"><h2 style="color:red">Echec! la bonne réponse est la deuxième voiture </h2>	');
            document.getElementById('response').scrollIntoView();
            }       
             $(this).prop("disabled",true);
             $("#ok").attr("hidden",false);
          }
        });
    
 $("#ok").click(function () {
          $("#response").text("");
          window.location.replace("mesurerlongueurs");
        });
    });

$(function(){
  var ff;    
    //pour  selectionner les images et implémenter le compteur
   $('.img').on('click', function(evt) {
        ff = $(this);        
        $('.img').removeClass('selectedd');
        ff.addClass('selectedd');
        evt.stopPropagation();
        //alert(""+ff.index());
        
    });   
    
});
 
</script>


{% endblock %}