{% extends 'base.html.twig' %}
{% block title %}
  _ Mesurer avec une règle
{% endblock %}

{% block main %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>  
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" type="text/javascript"></script>

<style>
.selectedd{
border:2px inset silver;
        }
.small {
    width: 92px !important;
}
.btn-lg{
  width: 32px !important;
}
.inline-block{
width: 300px;
height: 150px;
}
img:hover {
  opacity: 0.5;
}
hr.new {
    margin-top:10px;
    margin-left:40%;
border: 2px solid black;
background-color: black;
}

.ruler {
	 position: relative;
	 height: 50px;
	 margin: 20px;
     width: 450px;
	 padding: 0 10px 0 10px;
	 background-color: #f6c199;
}
 .stick-container, .minor-stick-container {
	 display: flex;
	 justify-content: space-between;
	 height: 50%;
	 margin: 0;
	 padding: 0;
	 list-style-type: none;
}
 .minor-stick-container {
	 height: 50%;
}
 .stick-container .stick {
	 flex-grow: 1;
	 height: 100%;
	 border-left: 2px solid #c39466;
}
 .stick-container .stick:last-child {
	 flex-grow: 0;
	 width: 2px;
	 background-color: #c39466;
}
 .minor-stick-container .minor-stick {
	 width: 1px;
	 height: 100%;
	 background-color: black;
}
 .minor-stick-container .minor-stick:first-child, .minor-stick-container .minor-stick:last-child {
	 width: 0px;
}
 .stick-value {
	 position: absolute;
	 bottom: 0;
	 transform: translateX(-50%);
	 color: #a79e9f;
	 font-weight: bold;
	 font-size: 1.2em;
}
#bx{
    margin-top:10px;
     position: relative;
     border: 2px solid black;
     width: 100%;
     height: 100%;
     
}
 
</style>

{% endblock %}

{% block body %}
  <!-- Tips Triks Start -->
  <div class="tips-triks-area tips-padding">
    <div class="container">
      <!-- Section-tittle -->
      <div class="row d-flex justify-content-center">
        <div class="col-lg-6 col-md-8 pr-0">
          <div class="section-tittle text-center">
            <h5>
              Mesurer avec une règle
            </h5>
          </div>
        </div>
      </div>
      <br><br>
      <div  id="bx" class="container" >
       <hr class="new" style="width:210px;"  />
       
<div id="ruler" class="ruler">
  <ul class="stick-container">
    <li class="stick">
      <ul class="minor-stick-container">
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
      </ul>
      <span class="stick-value">0</span>
    </li>
    <li class="stick">
      <ul class="minor-stick-container">
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
      </ul>
      <span class="stick-value">1</span>
    </li>
    <li class="stick">
      <ul class="minor-stick-container">
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
      </ul>
      <span class="stick-value">2</span>
    </li>
    <li class="stick">
      <ul class="minor-stick-container">
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
      </ul>
      <span class="stick-value">3</span>
    </li>
    <li class="stick">
      <ul class="minor-stick-container">
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
        <li class="minor-stick"></li>
      </ul>
      <span class="stick-value">4</span>
    </li>

  </ul>
</div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <div class="d-inline-flex mb-3">
    <p class="sample-text ">En utilisant la règle , Quelle est la taille ?&nbsp;?<p>
    </div>
<br>
      
<br>
<div  class="container">
<div class="d-inline-flex mb-3">
                  <div class="col-sm-3">
								<input type="text" id ="lnum" style="border : 2px solid black;width: 100%"  name="lnum" >
                  	</div>
                  <label style="display=inline-block;text-align=right;" for="lnum">cm</label>          
  </div>
  <div class="block">	<button id="valider"  class="genric-btn primary small">valider</button></div>
  <div id="response">
   <div id="html"></div>         
       <div class="block text-center"><button id="ok"  hidden="true" class="genric-btn primary ">ok</button></div>
  </div>
 </div>
  <!-- Tips Triks End -->

  <script>
    jQuery( document ).ready(function( $ ) {
     $( function() {
    $( "#ruler" ).draggable();
  } );
			
      //identification de l'image sélectionné et trouver l'index de l'image de la bonne réponse
        $("#valider").click(function () {
     
      if($("#lnum").val() == 2){
           $("#html").html('<div class="section-tittle text-center"><h2 style="color:green">Bravo!</h2>	'
          );
            }else{
              $("#html").html('<div class="section-tittle text-center"><h2 style="color:red">Echec! la bonne réponse est 2</h2>	');
            }
           
             $("input").prop("disabled",true);
             
               $("#ok").attr("hidden",false);
          
         
        });
    
 $("#ok").click(function () {
          $("#response").text("");
        });
    });

$(function(){
  var ff;    
    //pour  selectionner les images et implémenter le compteur
   $('.img').on('click', function(evt) {
        ff = $(this);        
        $('.img').removeClass('selectedd');
        ff.addClass('selectedd');
        evt.stopPropagation();
        //alert(""+ff.index());
        
    });   
    
});
 
</script>


{% endblock %}